<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to the Henhouse!</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!-- Vue JS 2.6x CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- JQuery 3.5.x CDN -->
    <script src="https://cdn.jsdelivr.net/npm/jquery"></script>
</head>
<body>


  <section id="app">
    <div class="container-fluid">
      <div class="bg-top">
        
      </div>

      <div class="container">
        <div class="house">
  
        <transition name="fade">
          <div class="middle-container">


            <div v-if="door" class="door">
              <div v-on:click="door = false" class="start">
                {{ message }}
              </div>
            </div>

            <div v-if="!door" class="categories">
              <ul>
                <li>Sports, Games, recreational</li>
                <li>Technology & Science</li>
                <li>Arts & Cultural</li>
                <li>Career & Family</li>
                <li>Health & Medical</li>
                <li>Lifestyle & hobby, leisure</li>
                <li>Politics & society</li>
                <li>Financial and economics</li>
                <li>Pets, Animals & Outdoors</li>
                <li>Spiritual, Philosophy, religion</li>
                
                
              </ul>
            </div>
            <div class="left-hatch">
            
            </div>
            <div class="right-hatch">
            
            </div>


          </div>
  
          
        </transition>

  
        </div>
      </div>
    </div>
    
  </section>
  


  <script>
    var app = new Vue({
      el: '#app',
      data: {
        door: true,
        side: 0,
        message: "START",
      }, 
      methods: {

      }
    })
  </script>

</body>
</html>