<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to the Henhouse!</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!-- Vue JS 2.6x CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- JQuery 3.5.x CDN -->
    <script src="https://cdn.jsdelivr.net/npm/jquery"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>

  <section>
    <div class="bg-top">

    </div>
  </section>
  <section v-if="render" id="app" class="d-none d-md-block">
    <div class="container-fluid" >
      <div class="bg-top">
        
      </div>

      <div v-if="main" class="container">
        <div class="house">
  
          <div class="middle-container">

            <div class="billboard">
              {{ billboard }}
            </div>

            <div v-if="door" class="door">
              <div v-if="start" v-on:click="door = false; billboard = 'Welcome to the chickencoop! Join to debate!'" class="start">
                START
              </div>
            </div>

            <div v-if="!door" class="categories">

              <div v-on:click="door = true; start = false; " class="categories-list">
                <ul >
                  <li v-on:click="cat = 1">Sports, Games, recreational</li>
                  <li v-on:click="cat = 2">Technology & Science</li>
                  <li v-on:click="cat = 3">Arts & Cultural</li>
                  <li v-on:click="cat = 4">Career & Family</li>
                  <li v-on:click="cat = 5">Health & Medical</li>
                  <li v-on:click="cat = 6">Lifestyle & hobby, leisure</li>
                  <li v-on:click="cat = 7">Politics & society</li>
                  <li v-on:click="cat = 8">Financial and economics</li>
                  <li v-on:click="cat = 9">Pets, Animals & Outdoors</li>
                  <li v-on:click="cat = 10">Spiritual, Philosophy, religion</li>
                </ul>
              </div>


                            
              <div v-on:click="door = true; start = true; billboard = 'State a new opinion';" class="categories-back">

              </div>

            </div>



            <div v-if="!cat" class="left-hatch">

            </div>

            <div v-if="cat" class="left-hatch-open">
              <div v-on:click="door = true; start = false; lastcat = cat; cat = false;" class="sub-list">

                <template>
                  <ul v-if="cat === 1">
                    <li v-on:click="sub = 1">Soccer</li>
                    <li v-on:click="sub = 2">Volleyball</li>
                    <li v-on:click="sub = 3">Hockey</li>
                    <li v-on:click="sub = 4">Rugby</li>
                    <li v-on:click="sub = 5">Karate</li>
                    <li v-on:click="sub = 6">Judo</li>
                    <li v-on:click="sub = 7">Billiards, Snooker</li>
                    <li v-on:click="sub = 8">Basketball</li>
                    <li v-on:click="sub = 9">Korfbal</li>
                    <li v-on:click="sub = 10">American Footbal</li>
                  </ul>
                </template>

              </div>


                            
              <div v-on:click="door = false;  cat = false" class="cat-back">

              </div>

            </div>

            
            <div v-if="!sub" class="right-hatch">
            
            </div>

            <div v-if="sub" class="right-hatch-open">
              <div v-on:click="door = true; start = false; lastsub = sub; sub = false; window = true; main = false;" class="topic-list">

                <template>
                  <ul v-if="sub === 1">
                    <li v-on:click="topic = 1">Soccer</li>
                    <li v-on:click="topic = 2">Volleyball</li>
                    <li v-on:click="topic = 3">Hockey</li>
                    <li v-on:click="topic = 4">Rugby</li>
                    <li v-on:click="topic = 5">Karate</li>
                    <li v-on:click="topic = 6">Judo</li>
                    <li v-on:click="topic = 7">Billiards, Snooker</li>
                    <li v-on:click="topic = 8">Basketball</li>
                    <li v-on:click="topic = 9">Korfbal</li>
                    <li v-on:click="topic = 10">American Footbal</li>
                  </ul>
                </template>

              </div>


                            
              <div v-on:click="cat = lastcat; sub = false;" class="sub-back">

              </div>

            </div>

            <div v-if="leftnav || rightnav" v-on:click="leftnav = false; rightnav = false" class="overlay"></div>
            
            <div v-on:click="leftnav = !leftnav" class="lpost">
            </div>

            <div v-on:click="rightnav = !rightnav" class="rpost">
            </div>

          </div>
  
          

  
        </div>
      </div>

      <div v-on:click="window = false; main = true; start = true; billboard = 'Start a new opinion'" v-if="window" class="hh-window">
        <div class="pretext">
          <p>Chicken Ranch</p>
          <p>Design Under Construction</p>
        </div>
      </div>

      <transition name="slideleft">
        <div  v-if="leftnav" class="left-side d-block">

          <nav class="left-menu">
            <a href="#" class="menu-item"><div class="compass"></div></a>
            <a href="#" class="menu-item"><div v-if="logged" class="logged"></div><div v-if="!logged" class="notlogged"></div></a>
            <a href="#" class="menu-item"><div class="search"></div></a>
            <a href="#" class="menu-item"><div class="filter"></div></a>
            <a href="#" class="menu-item"><div class="sort"></div></a>
            <a href="#" class="menu-item"><div class="all"></div></a>
          </nav>
  
          <div   class="popular-opinions">
            <h4 class="text-center">
              Most Popular Opinions
            </h4>
  
            <template>
              <div v-for="(value, opinion) in opinions" class="list-opinion">
                <div class="list-profile">
                </div>
                <div class="list-opinion-text">
                  {{ value.opinion }}
                </div>
              </div>
            </template>
  
  
          </div>
        </div>
      </transition>

      <transition name="slideright">
        <div  v-if="rightnav" class="right-side d-block">


          <div class="podium"></div>

          <div class="popular-users">
            <h4 class="text-center">
              Most Popular Users
            </h4>
  
            <template>
              <div v-for="(value, user) in users" class="list-users">
                <div class="list-users-pos">
                  {{ value.pos }}
                </div>
                <div class="list-users-profile">
                </div>
                <div class="list-users-text">
                  {{ value.user }}
                </div>
              </div>
            </template>
          
        </div>
      </transition>

    </div>
    
  </section>
  


  <script>
    var app = new Vue({
      el: '#app',
      data: {
        render: true,
        main: true,
        window: false,
        door: true,
        leftnav: false,
        rightnav: false,
        start: true,
        cat: false,
        sub: false,
        topic: false,
        lastcat: false,
        lastsub: false,
        logged: false,
        billboard: "State a new opinion",
        image: 'assets',

      
        opinions: [
          {
            pos: 1,
            opinion: 'State a new opinion',
            agree: 65,
            disagree: 35,
          },
          {
            pos: 1,
            opinion: 'Opinion Position 2',
            agree: 65,
            disagree: 35,
          },
          {
            pos: 1,
            opinion: 'Opinion Position 3',
            agree: 65,
            disagree: 35,
          }
        ],

        users: [
        {
          pos: 1,
          user: 'Rudd',
          votes: 1098,
        },
        {
          pos: 2,
          user: 'Petra',
          votes: 954,
        },
        {
          pos: 3,
          user: 'Gus',
          votes: 854,
        }


      ],

      },
      mounted() {
        window.addEventListener(
          "orientationchange",
          this.handleOrientationChange
        );
      },
      methods: {
        handleOrientationChange() {
          const orientation = window.screen.orientation.type
          if (orientation === "portrait-primary") {
            // portrait mode
            render = false;
          } else if (orientation === "landscape-primary") {
            // landscape mode
            render = true;
          }
        }
      }
    })
  </script>

</body>
</html>