@font-face {
  font-family: "komika";
  src: url(../font/komika-regular.woff) format('woff');
}

body {
  background: #719323;
}

.hh-top {
  background-image: url('../images/hh-top.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5000;
}